body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    width: 40%;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form {
    background-color: #555;
    padding: 10px;
    border-radius: 8px;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 80%;
    padding: 30px;
    border-radius: 4px;
    border: none;
    background-color: #ddd;
}

textarea {
    height: 5px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #ff0707;
    color: #333;
    cursor: pointer;
}

button:hover {
    background-color: #880000;
}
