/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #222;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    position: relative;
}

nav ul li {
    display: inline-block;
    position: relative;
    margin-right: 20px;
}

nav ul li:first-child a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    padding: 10px;
    min-width: 120px;
}

.sub-menu li {
    display: block;
}

.sub-menu li a {
    color: #fff;
    text-decoration: none;
}

nav ul li:hover .sub-menu {
    display: block;
}

.carousel {
    overflow-y: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.movie {
    display: none;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.movie img {
    width: 150px;
    height: 225px;
    transition: transform 0.3s ease;
    border-radius: 4px;
}

.movie:hover img {
    transform: scale(1.1);
}

.movie-info {
    flex: 1;
    text-align: left;
    margin-left: 20px;
}

.movie-info h2 {
    margin-top: 0;
    font-size: 18px;
}

.movie-info p {
    overflow: hidden;
    word-wrap: break-word;
    font-size: 14px;
}

.main-content {
    padding: 20px;
}

footer {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-top: 2px solid #fff;
}

footer p {
    margin: 0;
}

/* Estilos para el enlace de géneros */
nav .sub-menu a {
    font-size: 14px;
    padding: 8px 12px;
}
