body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333; /* Color de fondo inspirado en un cine */
    color: #fff; /* Color de texto */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    margin: 0 20px; /* Separación entre los formularios */
}

.form {
    background-color: #555; /* Color de fondo del formulario */
    padding: 40px;
    border-radius: 8px;
}

.form h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #ddd; /* Color de fondo del campo de entrada */
}

button {
    width: 105%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #ff0707; /* Color de fondo del botón */
    color: #333; /* Color de texto del botón */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #8d1d0a; /* Cambio de color al pasar el ratón sobre el botón */
}
