*{


    
}



body {
    background-color: rgb(212, 0, 255);
}

nav > ul > li > a {
    list-style-type: none;
    text-decoration: none;
}

.header {
 
    background-color: black;
 

}

.    <center>
 
               
<div class="content">
  <h1 id="inicio">QUE ES UNA WEB?</h1><br>
<p>
<b>

  Para saber de quién es una web, se puede usar una herramienta llamada WHOIS,
  que permite consultar la información de registro de un dominio, como el propietario,
  el administrador, la fecha de creación y la fecha de vencimiento123.
  También se puede acceder al apartado de contacto de la web,
  donde se puede encontrar información sobre la persona o la empresa que está detrás de la página4.
  

</b>




</p> <br> 
  <h1 id="TP">¿Tipos De web?..</H1><p><s>
Existen varios tipos de páginas web, entre ellos se encuentran12:
Blogs: donde los usuarios pueden compartir sus opiniones, hablar de su tema preferido, o simplemente compartir su día a día.
Institucionales o de negocio.
Tiendas de comercio electrónico.
Portafolios.
Noticias o revistas.
</s></p>

  <h1 id="img">imagenes</h1><img src="img/tweb.png" alt="Descripción de la imagen"
width="800px"  height="600px" >

<img src="img/web.jfif" alt="Descripción de la imagen"
width="800px"  height="600px" >


<img src="img/dp.jfif" alt="Descripción de la imagen"
width="800px"  height="600px" >







</center>